<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>画像アップロード</title>
     <link rel="stylesheet" href="upload.css">

    <script src="{% static 'JS/upload.js' %}"></script> 
</head>
<body>

    <form method="POST" action="{% url 'upload_image' %}" enctype="multipart/form-data">
        <h1>画像アップロード</h1>
        

        <!-- 画像 -->
        <div class="image">
            <label for="image">画像</label>
            <input type="file" id="image" name="image" required onchange="previewImage(event)">
        </div>

        <div id="preview-area" style="margin-top: 10px;height: 200px;">
            <!-- プレビュー画像をここに表示 -->
            <img src="" alt="プレビュー画像">
        </div>

        <div>
            <label for="comment">
                <label>
                    <p>コメント</p>
                    <input type="text" id="comment" name="comment" placeholder="例：黒い財布を駅で見つけました。">
                </label>
            </label>
        </div>

        <!-- 位置情報 -->
        <div>
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
        </div>


        <input type="submit" value="アップロード">
    </form>
</body>
</html>