{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'new_index.css' %}">
    <title>落とし物捜索画面</title>
</head>
<body>
    <div class="container">
        <div style="display: flex; justify-content: flex-end;">
            <a class="login-button" href="{% url 'login' %}">
                <span>ログイン・ユーザー登録</span>
                <img src="{% static 'Image/refister_icon.png' %}" alt="ログインロゴ" class="icon">
            </a>
        </div>
        
        
        <h1>落とし物捜索 ホーム</h1>
            
        <div class="button-container">
            <a class="button register-button" href="{% url 'map_view' %}">
                マップ検索 <img src="{% static 'Image/map.png' %}" alt="マップロゴ">
            </a>
           
            <a class="button search-button" href="{% url 'upload_image' %}">
                落とし物登録 <img src="{% static 'Image/lostitem.png' %}" alt="登録ロゴ">
            </a>
            
        </div>
    </div>
</body>
</html>